/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
/* utilities */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.top{
    background-color: #2025A0;
    padding:100px 0;
}
.banner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.container{
    width: 80% ;
    margin: auto;

}
.banner-item-left{
    width: 76%;
}
.banner-icon{
    background-color: red;
    border:5px;
    display: inline-block;
    padding: 5px;
    border-radius: 3px;
}

.banner-h1{
    color: oldlace;
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    padding-bottom: 26px;
    margin: 0;
}
.banner-item-right img{
    width: 100%;
}
.middle-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}
.player-img img{
    width: 100%;

}
.player{
    padding:20px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
}
.blog{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:20px;
     
}
.thumbnail img{
    width: 100%;
    
}
.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:20px;

}
.blog-title{
    margin: 0;
}
.blog-info p{
    padding: 0;
    margin: 0;
}
 /* Footer-area */
.footer-container{
    /* width: 30%;
    margin: auto; */
    text-align: center;
    padding-top: 50px;
    padding-bottom: 40px;
}
.footer-container img{
    width: 35%;
}
.footer-middle{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.footer-middle a{
    margin-right: 14px;
    display: inline-block;
    color: #9d9fa3;
    width: 32px;
    height: 32px;
    line-height:32px;
    border-radius: 50%;
    background: #eaebee;
    transition: .5s;
}
.footer-middle a:first-child:hover{
    background: #3f729b;
    color: white;
}
.footer-middle a:nth-child(2):hover{
    background: #ea4c89;
    color: white;
}
.footer-middle a:nth-child(3):hover{
    background: #00acee;
    color: white;
}
.footer-middle a:nth-child(4):hover{
    background: #FF0000;
    color: white;
}
/* Media queries */
/* mobile devices */
@media only screen and (max-width:668px) {
    .banner{
     grid-template-columns: repeat(1, 1fr);

        
    }
    .middle-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .blogs{
        grid-template-columns: repeat(1, 1fr);
    }
    .blog{
        grid-template-columns: repeat(1, 1fr);
    }
    
}